tqdm
numpy
boto3
filelock
requests
spacy
thulac
numba==0.60.0
faiss-cpu==1.7.2
#faiss-gpu==1.7.2
googletrans==4.0.0rc1
sentence-splitter==1.4
sentence-transformers
tokenizers==0.13.3
torch>=1.2.0
transformers==4.33.3
git+https://github.com/bfsujason/bertalign.git
git+https://github.com/neulab/awesome-align.git



